<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
	<div class="wrapper">
		<nav class="navbar">
			<a href="/">
				<img class="logo" src="../static/img/su-diameter-logo.png">
			</a>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a class="active" href="#">About</a></li>
				<li><a href="https://github.com/iAli/DiaMeter/issues">Contact</a></li>
			</ul>
		</nav>
		<div class="center">
			<div class="title">About DiaMeter</div>
		    <div class="content" style="font-size: 19px;">
		      <p style="text-align: center; padding-bottom: 55px;">
				  DiaMeter is a graduation project submitted to College of Computer and Information Technology, Shaqra University in partial fulfillment of the requirements for the degree of Bachelor in Computer Science.<br/><br/>
				  The project aims to take advantage of the latest technologies to provide a health service that helps in combating diabetes. It takes advantage of machine learning techniques to predict the risk of developing diabetes. In addition, the system offers a follow-up option for diabetics and provide advice according to each case.
		      </p>
		      <p style="text-align: center; padding-bottom: 5px">
			      © 2021 <a href="https://github.com/iAli">iAli</a>
		      </p>
			</div>
		</div>
	</div>
</body>
</html>