<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Diabetes Follow-up</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
	<div class="wrapper">
		<nav class="navbar">
			<a href="/">
				<img class="logo" src="../static/img/su-diameter-logo.png">
			</a>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="https://github.com/iAli/DiaMeter/issues">Contact</a></li>
			</ul>
		</nav>
		<div class="center">
			<div class="title" style="padding-top: 90px;">Diabetes Follow-up</div>
		    <div class="content" style="font-size: 20px;">
		      <p style="font-weight: bold; padding-bottom: 15px;">
			      👋 Welcome back {{name}}!
		      </p>
		      <p style="padding-bottom: 65px; text-align: center;">
			      Tracking your sugar level, blood pressure, and weight is your way to control diabetes..
		      </p>
		      <div class="buttons2" align="center">
				<button onclick="location.href='/sugar-control'" class="btn21">Blood Sugar Control</button>
				<button onclick="location.href='/pressure-control'" class="btn22">Blood Pressure Control</button> <br/>
				<button onclick="location.href='/weight-control'" class="btn23">Weight Control</button>
			</div>

			</div>
		</div>
	</div>
</body>
</html>