<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DiaMeter</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="wrapper">
		<nav class="navbar">
			<a href="https://github.com/iAli/DiaMeter">
				<img class="logo" src="../static/img/su-diameter-logo.png">
			</a>
			<ul>
				<li><a class="active" href="#">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="https://github.com/iAli/DiaMeter/issues">Contact</a></li>
			</ul>
		</nav>
		<div class="center">
			<h1>Welcome To DiaMeter</h1>
			<h2></h2>
			<div class="buttons">
				<button onclick="location.href='/prediction'" class="btn1">Diabetes Prediction</button>
				<button onclick="location.href='/login'" class="btn2">Diabetes Follow-up</button>
			</div>
		</div>
	</div>
</body>
</html>